.xray_header {
	background-attachment: scroll;
	background-image: url(admin/img/header_bg.jpg);
	background-repeat: no-repeat;
	color: #000;
	font-family: "Arial Black", Gadget, sans-serif;
	background-position: left top;
	border: thick solid #000;
}
