.bg_white {
	background-color: #FFFFFF;
	color: #000000;
}
.bg_black {
	background-color: #000000;
	color: #FFFFFF;
}



.bg_AAA_10 {
	background-color: #FEF2FA;
	color: #000000;
}
.bg_AAA_9 {
	background-color: #FFF5EE;
	color: #000000;
}
.bg_AAA_8 {
	background-color: #FFFADF;
	color: #000000;
}
.bg_AAA_7 {
	background-color: #FEFCD8;
	color: #000000;
}
.bg_AAA_6 {
	background-color: #FEFEDE;
	color: #000000;
}
.bg_AAA_5 {
	background-color: #FDFEE4;
	color: #000000;
}
.bg_AAA_4 {
	background-color: #EDFAE4;
	color: #000000;
}
.bg_AAA_3 {
	background-color: #EBFCF7;
	color: #000000;
}
.bg_AAA_2 {
	background-color: #E8FFFE;
	color: #000000;
}
.bg_AAA_1 {
	background-color: #E8FDFE;
	color: #000000;
}
.bg_AAA_0 {
	background-color: #EDFCFE;
	color: #000000;
}
.bg_AAA_-1 {
	background-color: #EBF2FC;
	color: #000000;
}
.bg_AAA_-2 {
	background-color: #F0EFFA;
	color: #000000;
}
.bg_AAA_-3 {
	background-color: #F8EFFA;
	color: #000000;
}
.bg_AAA_x {
	background-color: #FCFCFC;
	color: #000000;
}



.bg_AA_10 {
	background-color: #FEE1F2;
	color: #000000;
}
.bg_AA_9 {
	background-color: #FFE8D7;
	color: #000000;
}
.bg_AA_8 {
	background-color: #FFF6CD;
	color: #000000;
}
.bg_AA_7 {
	background-color: #FEF8AB;
	color: #000000;
}
.bg_AA_6 {
	background-color: #FEFDB4;
	color: #000000;
}
.bg_AA_5 {
	background-color: #F9FCC2;
	color: #000000;
}
.bg_AA_4 {
	background-color: #EDFAE4;
	color: #000000;
}
.bg_AA_3 {
	background-color: #EBFCF7;
	color: #000000;
}
.bg_AA_2 {
	background-color: #D7FFFE;
	color: #000000;
}
.bg_AA_1 {
	background-color: #CAFAFB;
	color: #000000;
}
.bg_AA_0 {
	background-color: #D5F8FC;
	color: #000000;
}
.bg_AA_-1 {
	background-color: #E2ECFA;
	color: #000000;
}
.bg_AA_-2 {
	background-color: #EBE9F8;
	color: #000000;
}
.bg_AA_-3 {
	background-color: #F4E8F8;
	color: #000000;
}
.bg_AA_x {
	background-color: #F8F8F8;
	color: #000000;
}



.bg_A_10 {
	background-color: #FEBAE2;
	color: #000000;
}
.bg_A_9 {
	background-color: #FFCBA8;
	color: #000000;
}
.bg_A_8 {
	background-color: #FFEA97;
	color: #000000;
}
.bg_A_7 {
	background-color: #FEEF69;
	color: #000000;
}
.bg_A_6 {
	background-color: #FDFA73;
	color: #000000;
}
.bg_A_5 {
	background-color: #F0F885;
	color: #000000;
}
.bg_A_4 {
	background-color: #D5F2C0;
	color: #000000;
}
.bg_A_3 {
	background-color: #D1F8EB;
	color: #000000;
}
.bg_A_2 {
	background-color: #A8FFFB;
	color: #000000;
}
.bg_A_1 {
	background-color: #92F3F5;
	color: #000000;
}
.bg_A_0 {
	background-color: #A5EFF8;
	color: #000000;
}
.bg_A_-1 {
	background-color: #BDD3F2;
	color: #000000;
}
.bg_A_-2 {
	background-color: #D0CDEE;
	color: #000000;
}
.bg_A_-3 {
	background-color: #E4CBEC;
	color: #000000;
}
.bg_A_x {
	background-color: #EEEEEE;
	color: #000000;
}



.bg_B_10 {
	background-color: #FD9BD6;
	color: #000000;
}
.bg_B_9 {
	background-color: #FDBE8F;
	color: #000000;
}
.bg_B_8 {
	background-color: #FEE160;
	color: #000000;
}
.bg_B_7 {
	background-color: #FEF033;
	color: #000000;
}
.bg_B_6 {
	background-color: #FCF850;
	color: #000000;
}
.bg_B_5 {
	background-color: #EBF56F;
	color: #000000;
}
.bg_B_4 {
	background-color: #C8EEAE;
	color: #000000;
}
.bg_B_3 {
	background-color: #A2F1D7;
	color: #000000;
}
.bg_B_2 {
	background-color: #51F1E5;
	color: #000000;
}
.bg_B_1 {
	background-color: #46EAEE;
	color: #000000;
}
.bg_B_0 {
	background-color: #5AE1F2;
	color: #000000;
}
.bg_B_-1 {
	background-color: #AAC6EE;
	color: #000000;
}
.bg_B_-2 {
	background-color: #C2BEE8;
	color: #000000;
}
.bg_B_-3 {
	background-color: #DBBBE6;
	color: #000000;
}
.bg_B_x {
	background-color: #DDDDDD;
	color: #000000;
}




.bg_C_10 {
	background-color: #FA4199;
	color: #000000;
}
.bg_C_9 {
	background-color: #FCAC78;
	color: #000000;
}
.bg_C_8 {
	background-color: #FDD74D;
	color: #000000;
}
.bg_C_7 {
	background-color: #FEEB28;
	color: #000000;
}
.bg_C_6 {
	background-color: #FAF208;
	color: #000000;
}
.bg_C_5 {
	background-color: #E4F25A;
	color: #000000;
}
.bg_C_4 {
	background-color: #B8E899;
	color: #000000;
}
.bg_C_3 {
	background-color: #75E6BB;
	color: #000000;
}
.bg_C_2 {
	background-color: #00E4D0;
	color: #000000;
}
.bg_C_1 {
	background-color: #1CD8DE;
	color: #000000;
}
.bg_C_0 {
	background-color: #39CAE9;
	color: #000000;
}
.bg_C_-1 {
	background-color: #95B5E8;
	color: #000000;
}
.bg_C_-2 {
	background-color: #B0ACE0;
	color: #000000;
}
.bg_C_-3 {
	background-color: #D0A8DE;
	color: #000000;
}
.bg_C_x {
	background-color: #BBBBBB;
	color: #000000;
}




.bg_D_10 {
	background-color: #F5286D;
	color: #000000;
}
.bg_D_9 {
	background-color: #F9814F;
	color: #000000;
}
.bg_D_8 {
	background-color: #FBBB30;
	color: #000000;
}
.bg_D_7 {
	background-color: #FDDB18;
	color: #000000;
}
.bg_D_6 {
	background-color: #F5E905;
	color: #000000;
}
.bg_D_5 {
	background-color: #D0E839;
	color: #000000;
}
.bg_D_4 {
	background-color: #8FD76D;
	color: #000000;
}
.bg_D_3 {
	background-color: #4DD493;
	color: #000000;
}
.bg_D_2 {
	background-color: #00D0B0;
	color: #000000;
}
.bg_D_1 {
	background-color: #11BDC6;
	color: #000000;
}
.bg_D_0 {
	background-color: #23A7D8;
	color: #000000;
}
.bg_D_-1 {
	background-color: #688BD7;
	color: #000000;
}
.bg_D_-2 {
	background-color: #8681C9;
	color: #000000;
}
.bg_D_-3 {
	background-color: #B07CC6;
	color: #000000;
}
.bg_D_x {
	background-color: #AAAAAA;
	color: #000000;
}




.bg_E_10 {
	background-color: #EE1846;
	color: #000000;
}
.bg_E_9 {
	background-color: #F45732;
	color: #000000;
}
.bg_E_8 {
	background-color: #F8931E;
	color: #000000;
}
.bg_E_7 {
	background-color: #FBC00F;
	color: #000000;
}
.bg_E_6 {
	background-color: #EED903;
	color: #000000;
}
.bg_E_5 {
	background-color: #B0D623;
	color: #000000;
}
.bg_E_4 {
	background-color: #62BC46;
	color: #000000;
}
.bg_E_3 {
	background-color: #30B666;
	color: #000000;
}
.bg_E_2 {
	background-color: #00B085;
	color: #000000;
}
.bg_E_1 {
	background-color: #0A95A1;
	color: #000000;
}
.bg_E_0 {
	background-color: #157ABD;
	color: #000000;
}
.bg_E_-1 {
	background-color: #435FBC;
	color: #000000;
}
.bg_E_-2 {
	background-color: #435FBC;
	color: #000000;
}
.bg_E_-3 {
	background-color: #8652A1;
	color: #000000;
}
.bg_E_x {
	background-color: #888888;
	color: #000000;
}




.bg_F_10 {
	background-color: #E81031;
	color: #FFFFFF;
}
.bg_F_9 {
	background-color: #F03E22;
	color: #FFFFFF;
}
.bg_F_8 {
	background-color: #F67714;
	color: #FFFFFF;
}
.bg_F_7 {
	background-color: #FAAC0A;
	color: #FFFFFF;
}
.bg_F_6 {
	background-color: #E8CC02;
	color: #FFFFFF;
}
.bg_F_5 {
	background-color: #98C817;
	color: #FFFFFF;
}
.bg_F_4 {
	background-color: #47A731;
	color: #FFFFFF;
}
.bg_F_3 {
	background-color: #20A04B;
	color: #FFFFFF;
}
.bg_F_2 {
	background-color: #009868;
	color: #FFFFFF;
}
.bg_F_1 {
	background-color: #077987;
	color: #FFFFFF;
}
.bg_F_0 {
	background-color: #0E5DA8;
	color: #FFFFFF;
}
.bg_F_-1 {
	background-color: #2E45A7;
	color: #FFFFFF;
}
.bg_F_-2 {
	background-color: #413E8C;
	color: #FFFFFF;
}
.bg_F_-3 {
	background-color: #693A87;
	color: #FFFFFF;
}
.bg_F_x {
	background-color: #666666;
	color: #FFFFFF;
}



.bg_G_10 {
	background-color: #E00B21;
	color: #FFFFFF;
}
.bg_G_9 {
	background-color: #EB2B17;
	color: #FFFFFF;
}
.bg_G_8 {
	background-color: #F35A0D;
	color: #FFFFFF;
}
.bg_G_7 {
	background-color: #F89407;
	color: #FFFFFF;
}
.bg_G_6 {
	background-color: #E0BB01;
	color: #FFFFFF;
}
.bg_G_5 {
	background-color: #7CB60F;
	color: #FFFFFF;
}
.bg_G_4 {
	background-color: #318E21;
	color: #FFFFFF;
}
.bg_G_3 {
	background-color: #158534;
	color: #FFFFFF;
}
.bg_G_2 {
	background-color: #007C4C;
	color: #FFFFFF;
}
.bg_G_1 {
	background-color: #055C6A;
	color: #FFFFFF;
}
.bg_G_0 {
	background-color: #09438F;
	color: #FFFFFF;
}
.bg_G_-1 {
	background-color: #1F308E;
	color: #FFFFFF;
}
.bg_G_-2 {
	background-color: #2D2B6F;
	color: #FFFFFF;
}
.bg_G_-3 {
	background-color: #4D286A;
	color: #FFFFFF;
}
.bg_G_x {
	background-color: #444444;
	color: #FFFFFF;
}



.bg_H_10 {
	background-color: #D60716;
	color: #FFFFFF;
}
.bg_H_9 {
	background-color: #E41D0F;
	color: #FFFFFF;
}
.bg_H_8 {
	background-color: #EF4009;
	color: #FFFFFF;
}
.bg_H_7 {
	background-color: #F67805;
	color: #FFFFFF;
}
.bg_H_6 {
	background-color: #D6A601;
	color: #FFFFFF;
}
.bg_H_5 {
	background-color: #5FA00A;
	color: #FFFFFF;
}
.bg_H_4 {
	background-color: #217116;
	color: #FFFFFF;
}
.bg_H_3 {
	background-color: #0E6823;
	color: #FFFFFF;
}
.bg_H_2 {
	background-color: #005F35;
	color: #FFFFFF;
}
.bg_H_1 {
	background-color: #03424E;
	color: #FFFFFF;
}
.bg_H_0 {
	background-color: #062E73;
	color: #FFFFFF;
}
.bg_H_-1 {
	background-color: #152071;
	color: #FFFFFF;
}
.bg_H_-2 {
	background-color: #1E1D53;
	color: #FFFFFF;
}
.bg_H_-3 {
	background-color: #361B4E;
	color: #FFFFFF;
}
.bg_H_x {
	background-color: #333333;
	color: #FFFFFF;
}




.bg_I_10 {
	background-color: #C8050F;
	color: #FFFFFF;
}
.bg_I_9 {
	background-color: #DB130A;
	color: #FFFFFF;
}
.bg_I_8 {
	background-color: #EA2C06;
	color: #FFFFFF;
}
.bg_I_7 {
	background-color: #F35B03;
	color: #FFFFFF;
}
.bg_I_6 {
	background-color: #C88C01;
	color: #FFFFFF;
}
.bg_I_5 {
	background-color: #458507;
	color: #FFFFFF;
}
.bg_I_4 {
	background-color: #16550F;
	color: #FFFFFF;
}
.bg_I_3 {
	background-color: #094C17;
	color: #FFFFFF;
}
.bg_I_2 {
	background-color: #004524;
	color: #FFFFFF;
}
.bg_I_1 {
	background-color: #022E37;
	color: #FFFFFF;
}
.bg_I_0 {
	background-color: #041F56;
	color: #FFFFFF;
}
.bg_I_-1 {
	background-color: #0E1555;
	color: #FFFFFF;
}
.bg_I_-2 {
	background-color: #14133B;
	color: #FFFFFF;
}
.bg_I_-3 {
	background-color: #251237;
	color: #FFFFFF;
}
.bg_I_x {
	background-color: #222222;
	color: #FFFFFF;
}